html{
box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing:inherit;
 
}
body{
  margin:0;
  padding:0;
}
nav{
  /* background:#6fa056; */
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:10px;
  border-bottom:2px solid #6fa056;

  

 
}
nav h1{
   font-size:30px; 
}
.pizzagrid{
 
  width:90%;
  
  margin:20px auto;
}

.pizzacard{
 margin-top:5px;
  width:300px;
}
.pizzacardbody{
  position:relative;
  height:270px;
}
.pizzacardbody img,.pizzacardbody .pizzaprice{
  position:absolute;
}
.pizzaimg{
 width:100%;
 height:270px;
}
.pizzaprice{
  bottom:0;
  right:-5px;
 
}
.pizzacardfooter{
border:1px solid #ccc;
padding:10px;
display:flex;
justify-content:space-between;
}
